#!/usr/bin/bash
# Configuration for direnv

# Compile with full native CPU instruction set support.
# Remove this if the binaries are to be run on foreign computers.
export RUSTFLAGS="${RUSTFLAGS:+${RUSTFLAGS} }-C target-cpu=native"

# Requires a specific libtorch version which might not be the system version.
# Try to load it using environment modules.
if command -v modulecmd >/dev/null 2>&1; then
	eval "$(modulecmd bash try-load libtorch/1.10.0)"
fi
